<?xml version="1.0"?>
<!--
/**
 * Collab ConsentMode for Magento
 *
 * @author      Marcin Jędrzejewski <m.jedrzejewski@collab.pl>
 * @copyright   Copyright 2024 Collab
 * @license     MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="collab" translate="label" sortOrder="150">
            <label>Collab Extensions</label>
        </tab>
        <section id="collab_consent" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Consent Mode v2</label>
            <tab>collab</tab>
            <resource>Collab_ConsentMode::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>In order to work properly this feature requires cookie restriction mode to be enabled.</comment>
                </field>
                <field id="url_passthrough" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL Passthrough</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
